<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pendaftaran Member</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDF()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" ng-submit="doRegister(trxData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama</span>
          <input type="text" ng-model="trxData.nama" style="text-transform: uppercase" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Kota</span>
          <input type="text" ng-model="trxData.kota" style="text-transform: uppercase" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Nomor HP</span>
          <input type="text" ng-model="trxData.nohp" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="$invalid">Daftarkan</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
