<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<!--<h1 class="animated bounceInDown">Redagro</h1>-->
				<div id="container" class="animated bounceInDown">
					<div class="login"></div>
				</div>
				<button class="button button-block button-positive animated bounceInUp" ui-sref="signin">
					Login
				</button>
				<button class="button button-block button-positive animated bounceInUp" ui-sref="register">
					Daftar
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>