<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Services Tab -->
  <ion-tab title="Produk" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/services" on-deselect="clearHistory()">
    <ion-nav-view name="tab-services"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Histori" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/dash" on-deselect="clearHistory()">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Tool Tab -->
  <ion-tab title="Tool" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/tool" on-deselect="clearHistory()">
    <ion-nav-view name="tab-tool"></ion-nav-view>
  </ion-tab>


</ion-tabs>
