<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Transfer Bonus</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTB()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" ng-submit="doTransferBns(trxData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nominal</span>
          <input type="number" ng-model="trxData.nominal" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Nomor PIN</span>
          <input type="password" ng-model="trxData.pin" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="$invalid">Kirim</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
